alias: Roborock Abwasser automatisch abpumpen
mode: single

trigger:
  - platform: state
    entity_id: binary_sensor.roborock_abwasser_voll
    to: "on"

action:
  - service: switch.turn_on
    target:
      entity_id: switch.abwasser_ventil

  - delay: "00:00:02"

  - service: switch.turn_on
    target:
      entity_id: switch.abwasser_pumpe

  - wait_for_trigger:
      - platform: state
        entity_id: binary_sensor.roborock_abwasser_voll
        to: "off"
    timeout: "00:02:00"

  - service: switch.turn_off
    target:
      entity_id: switch.abwasser_pumpe

  - delay: "00:00:02"

  - service: switch.turn_off
    target:
      entity_id: switch.abwasser_ventil
